@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.Input2 {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  position: relative;
  background-color: #282828;
  border-radius: 0.7rem;
}
input {
  width: 300px;
  padding: 0.75rem;
  background-color: transparent;
  outline: 0;
  color: #ffffff;
  border: 0;
}

.searchBox {
  margin-top: 2.5vh;
  font-family: "Fira Code", monospace;
}

.search {
  align-items: center;
  display: flex;
}

.Shows {
  list-style: none;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: space-around;

  color: white;
}

.Shows li {
  padding: 0.8rem;
  margin: 0.25rem;
  width: 155px;
  height: 390px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
}
.Shows li img {
  height: 275px;
}
button {
  cursor: pointer;
  border-radius: 50%;
}

@media (min-width: 900px) {
  input {
    width: 80vw;
  }
}
