.Input2 {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  position: relative;
  background-color: #282828;
  border-radius: 0.7rem;
}

input {
  width: 300px;
  padding: 0.75rem;
  background-color: transparent;
  outline: 0;
  color: #ffffff;
  border: 0;
}

.searchBox {
  margin-top: 2.5vh;
}

.search {
  align-items: center;
  display: flex;
}

.Shows {
  list-style: none;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.Shows li {
  border: 2px solid black;
  padding: 0.5rem;
  margin: 0.25rem;
  width: 175px;
  height: 240px;
  display: flex;
  justify-content: center;
  font-size: 22px;
}

button {
  cursor: pointer;
  border-radius: 50%;
}
